/* login_style.css */

body {
    background-color: #f0f8ff; /* Light blue background */
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

#login {
    width: 400px; /* Adjusted width */
    padding: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-aligns the children */
    height: 300px;
}

#error-message {
    position: relative; /* Absolute position for the error message */
    top: 10px; /* Position it near the top of the container */
    left: 10px; /* Position it from the left */
    right: 10px; /* Ensure it doesn't overflow the container */
    color: red;
    background-color: rgba(255, 255, 255, 0.9); /* Optional: make it slightly opaque */
    padding: 5px;
    text-align: center;
    
}
#login h1 {
    color: #333;
    margin-bottom: 30px;
}

#login p {
    color: #333;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
}

#login input[type="text"],
#login input[type="password"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#signin {
    width: 100%;
    padding: 10px;
    background-color: #87CEFA; /* Light blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#signin:hover {
    background-color: #00BFFF; /* Darker light blue */
}

