body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #f0f8ff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px; /* Increased width for better alignment */
    text-align: left; /* Align text to the left */
}

h1 {
    color: #0077cc;
    margin-bottom: 20px;
    text-align: center; /* Center align the title */
}

p {
    margin: 10px 0 5px;
    color: #333;
}

input[type=text], select {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px; /* Increased padding for better appearance */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block; /* Make inputs block level */
}

input[type=text]:focus, select:focus {
    border-color: #0077cc;
    outline: none;
}

button {
    background-color: #0077cc;
    color: white;
    padding: 12px 20px; /* Adjust button padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px; /* Add margin to the top of the button */
}

button:hover {
    background-color: #005fa3;
}
#backbtn {
    position: absolute; 
    top: 20px;
    left: 20px;
    width: auto;
    padding: 10px 20px;
  --primary-color: #007bff;
  --secondary-color: #fff;
  --hover-color: #0056b3;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;

}

#backbtn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#backbtn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#backbtn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

#backbtn:hover {
  background-color: var(--hover-color);
}

#backbtn:hover .arrow {
  background: var(--secondary-color);
}

#backbtn:hover .arrow:before {
  right: 0;
}
/* Responsive adjustments */
@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 20px;
    }
}
