/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the font for the whole body */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

/* Style the header */
header {
  background-color: #003366; /* A dark blue shade */
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Container for the day selection */
.container {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

/* Style for the day bars */
.dayBar {
  display: inline-block;
  background-color: #007bff; /* A lighter blue shade */
  color: white;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 20px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  text-decoration: none; /* Remove underline from links */
}

/* Hover effect for day bars */
.dayBar:hover {
  background-color: #0056b3; /* A slightly darker blue shade for hover */
  cursor: pointer;
}

/* Style the footer */
footer {
  background-color: #003366; /* Same as header */
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* Back button styling */
.back-button {
  background-color: #007bff; /* Light blue */
  color: white;
  padding: 10px 20px;
 margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 100px;
  position: absolute; /* Position the button absolutely */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the left */
  z-index: 1000; /* Ensure it's above other elements */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.back-button:hover {
  background-color: #0056b3; /* Darker blue for hover */
}
