@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
html,
body {
  height: 100%;
  margin: 0;
  background-color: #41aae7;
  font-family:'Montserrat';
}

.mainContent{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.sideMenu{
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideMenu button{
  width: 100%;
  margin: 10px;
  border-radius: 25px;
  height: 20px;
}

.sideMenu > button, .sideMenu > a{
  width: 50%;
}
