@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
html,
body {
  height: 100%;
  margin: 0;
  background-color: #41aae7;
  font-family:'Montserrat';
  overflow-x: hidden;
}

.mainContent{
  display: absolute;
  margin: auto;
  padding: 20px;
}

