<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/NODEJS/chooseday.css">
    <title>Create Schedule for the Week</title>
</head>
<body>
    <h1>Create the Schedule for the Week </h1>
    <p> Please select the day below </p>
    <a href="/updateSchedule/Monday"><div class="dayBar">
        <h2>"Monday"</h2>
    </div></a>
    <a href="/updateSchedule/Tuesday"><div class="dayBar">
        <h2>"Tuesday"</h2>
    </div></a>
    <a href="/updateSchedule/Wednesday"><div class="dayBar">
        <h2>"Wednesday"</h2>
    </div></a>
    <a href="/updateSchedule/Thursday"><div class="dayBar">
        <h2>"Thursday"</h2>
    </div></a>
    <a href="/updateSchedule/Friday"><div class="dayBar">
        <h2>"Friday"</h2>
    </div></a>
    <a href="/updateSchedule/Saturday"><div class="dayBar">
        <h2>"Saturday"</h2>
    </div></a>
    <a href="/updateSchedule/Sunday"><div class="dayBar">
        <h2>"Sunday"</h2>
    </div></a>
</body>
</html>
