<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/updateSchedule/Monday"><div class="dayBar">
        <h1>"Monday"</h1>
    </div></a>
    <a href="/updateSchedule/Tuesday"><div class="dayBar">
        <h1>"Tuesday"</h1>
    </div></a>
    <a href="/updateSchedule/Wednesday"><div class="dayBar">
        <h1>"Wednesday"</h1>
    </div></a>
    <a href="/updateSchedule/Thursday"><div class="dayBar">
        <h1>"Thursday"</h1>
    </div></a>
    <a href="/updateSchedule/Friday"><div class="dayBar">
        <h1>"Friday"</h1>
    </div></a>
    <a href="/updateSchedule/Saturday"><div class="dayBar">
        <h1>"Saturday"</h1>
    </div></a>
    <a href="/updateSchedule/Sunday"><div class="dayBar">
        <h1>"Sunday"</h1>
    </div></a>
</body>
</html>