<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cmsStyle.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <iframe src="/HTML/banner.html" width="100%" height="100px" frameborder="0"></iframe>
    </header>
    <div class="container">
        <aside class="sidebar">
        </aside>
        <section class="main-content">
            <div class="live-video">
                <video id="liveVideo" controls autoplay>
                    <source src="/video" type="video/mp4">
                </video>
            </div>
            <div class="video-controls">
                <a href="/uploadPage"><button>Upload</button></a>
                <a href="/videoList"><button>Show Videos</button></a>
                <a href="/dayUpdate"><button>Update Schedule</button></a>
                <a href="/logOut"><button>Log Out</button></a>
            </div>
            <div class="schedule">
            </div>
        </section>
    </div>
</body>
</html>
