<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cmsStyle.css" />
    <title>Content Manager</title>
  </head>
  <body>
    <%- include('banner.ejs') %>
    <div class="container">
        <aside class="sidebar">
          <div class="video-controls">
            <a href="/uploadPage"><button>Upload</button></a>
            <a href="/videoList"><button>Show Videos</button></a>
            <a href="/dayUpdate"><button>Update Schedule</button></a>
            <button onclick="init()">Toogle Live Stream</button>
            <a href="/logout"><button>Log Out</button></a>
          </div>
        </aside>
        <section class="main-content">
            <div class="schedule">
              <video id="liveVideo" width="100%" height="432 px" autoplay muted onended="reloadVideo()">
                <source id="ffff" src="/getVideo/0">
              </video>
              <iframe
              id = "streamVideo"
              src= "http://192.168.56.107:8080/embed/video?autoplay=1"
              title="Owncast"
              height="432 px" width="100%"
              referrerpolicy="origin"
              style="display:none"
              allowfullscreen>
              </iframe>    
            </div>
        </section>
    </div>
    <%- include('footer.ejs') %>
  </body>
  <script src="/cms.js"></script>
</html>
<script>
    function fetchVideoHistory() {
        fetch('/videoHistoryList')
            .then(response => response.json())
            .then(videoHistory => {
                console.log('Video History:', videoHistory); // Debug: Log out the fetched video history
                const historyElement = document.querySelector('.history');
                historyElement.innerHTML = ''; // Clear current history
                videoHistory.forEach(entry => {
                    console.log('Entry:', entry); // Debug: Log out each entry
                    const listItem = document.createElement('li');
                    listItem.textContent = `${entry.name} - ${entry.timestamp}`;
                    historyElement.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('Error fetching video history:', error);
            });
    }

    var streaming = false
    var currentId = 0
    video = document.getElementById("liveVideo")
        async function startStream(){  
            video = document.getElementById("liveVideo")
            var interval
            interval = setInterval(async () => {await checkIfSame();}, 1000);
        }
        
        function switchToStatic(){
            iframe = document.getElementById("streamVideo")
            iframe.style.display="none"
            video = document.getElementById("liveVideo")
            video.style.display="block"
            
            video.load();
            video.play();
        }

        async function checkIfSame() {

            try {
                // Make a POST request to '/currentVideo'
                const response = await fetch('/currentVideo', {
                    method: "POST"
                });
                response2 = await response.json()
                console.log(response2) 
                
                if (response2.message != currentId) {
                    currentId = response2.message
                    if (response2.message == -1){
                        startLiveStream()
                        if(video.muted){
                          video.muted = !video.muted
                        }
                    } else {
                        const source = document.getElementById('ffff');
                        source.setAttribute('src', '/getVideo/' + response2.message);
                        switchToStatic()
                    }
                }
        
            } catch (error) {
                // Handle any errors that occurred during the fetch
                console.error('Error during fetch:', error);
            }
        }
        
        function reloadVideo(){
            video = document.getElementById("liveVideo")
            video.load();
            video.play();
        }
    
        /*window.onload = (event)=>{
            startStream()
        }*/
    document.addEventListener('DOMContentLoaded', fetchVideoHistory);
</script>

