<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/uploadPage"><button>Upload Video</button></a>
    <a href="/videoList"><button>Show Videos</button></a>
    <a href="/dayUpdate"><button>Update Schedule</button></a>
    <a href="/logOut"><button>Log Out</button></a>
</body>
</html>