<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/createSchedStyle.css">
    <title>Create Schedule</title>
</head>
<body>
    <h1>Creating a schedule for <%= day %></h1>

    <form action="/addSchedule/<%= day%>" method="post">
        <select name="videoId" id="videoTitle">
            <option value="" selected disabled hidden>Please choose a video</option>
            <% if(results.length>0){ %>
                <% results.forEach(result=>{ %>
                    <option value= <%= result.contentid %> ><%= result.title %></option>
                <% }) %>
            <% } else { %>
                <option>Yes</option>
            <% } %>       
        </select>

        <select name="hour">
            <option value=1>01</option>
            <option value=2>02</option>
            <option value=3>03</option>
            <option value=4>04</option>
            <option value=5>05</option>
            <option value=6>06</option>
            <option value=7>07</option>
            <option value=8>08</option>
            <option value=9>09</option>
            <option value=10>10</option>
            <option value=11>11</option>
            <option value=12>12</option>
        </select>
        <input list="minutes" name="theMinutes" placeholder="00">
        <datalist id="minutes">
            <option value="00" selected >
            <option value="01">
            <option value="02">
            <option value="03">
            <option value="04">
            <option value="05">
            <option value="06">
            <option value="07">
            <option value="08">
            <option value="09">
            <option value="10">
            <option value="11">
            <option value="12">
            <option value="13">
            <option value="14">
            <option value="15">
            <option value="16">
            <option value="17">
            <option value="18">
            <option value="19">
            <option value="20">
            <option value="21">
            <option value="22">
            <option value="23">
            <option value="24">
            <option value="25">
            <option value="26">
            <option value="27">
            <option value="28">
            <option value="29">
            <option value="30">
            <option value="31">
            <option value="32">
            <option value="33">
            <option value="34">
            <option value="35">
            <option value="36">
            <option value="37">
            <option value="38">
            <option value="39">
            <option value="40">
            <option value="41">
            <option value="42">
            <option value="43">
            <option value="44">
            <option value="45">
            <option value="46">
            <option value="47">
            <option value="48">
            <option value="49">
            <option value="50">
            <option value="51">
            <option value="52">
            <option value="53">
            <option value="54">
            <option value="55">
            <option value="56">
            <option value="57">
            <option value="58">
            <option value="59">
        </datalist>
        <select name="meridian">
            <option value="am">AM</option>
            <option value="pm">PM</option>
        </select>
        <select name="hour">
            <option value=1>01</option>
            <option value=2>02</option>
            <option value=3>03</option>
            <option value=4>04</option>
            <option value=5>05</option>
            <option value=6>06</option>
            <option value=7>07</option>
            <option value=8>08</option>
            <option value=9>09</option>
            <option value=10>10</option>
            <option value=11>11</option>
            <option value=12>12</option>
        </select>
        <input list="minutes" name="theMinutes" placeholder="00">
        <datalist id="minutes">
            <option value="00" selected >
            <option value="01">
            <option value="02">
            <option value="03">
            <option value="04">
            <option value="05">
            <option value="06">
            <option value="07">
            <option value="08">
            <option value="09">
            <option value="10">
            <option value="11">
            <option value="12">
            <option value="13">
            <option value="14">
            <option value="15">
            <option value="16">
            <option value="17">
            <option value="18">
            <option value="19">
            <option value="20">
            <option value="21">
            <option value="22">
            <option value="23">
            <option value="24">
            <option value="25">
            <option value="26">
            <option value="27">
            <option value="28">
            <option value="29">
            <option value="30">
            <option value="31">
            <option value="32">
            <option value="33">
            <option value="34">
            <option value="35">
            <option value="36">
            <option value="37">
            <option value="38">
            <option value="39">
            <option value="40">
            <option value="41">
            <option value="42">
            <option value="43">
            <option value="44">
            <option value="45">
            <option value="46">
            <option value="47">
            <option value="48">
            <option value="49">
            <option value="50">
            <option value="51">
            <option value="52">
            <option value="53">
            <option value="54">
            <option value="55">
            <option value="56">
            <option value="57">
            <option value="58">
            <option value="59">
        </datalist>
        <select name="meridian">
            <option value="am">AM</option>
            <option value="pm">PM</option>
        </select>
        <button>Add Schedule</button>
    </form>
    <script>

    </script>
</body>
</html>