<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginCMS.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>AgbuyaTV</title>
</head>
<body>
    <%- include('banner.ejs') %>
    <div class="mainContent">
    <video id="liveVideo"  width="1280 px" height="720 px" autoplay muted onended="reloadVideo()">
      <source id="ffff" src="/getVideo/0">
    </video>
    <iframe
    id = "streamVideo"
    src= "http://192.168.56.107:8080/embed/video?autoplay=1"
    title="Owncast"
    height="432 px" width="100%"
    referrerpolicy="origin"
    style="display:none"
    allowfullscreen>
    </iframe>   
    </div>
    <script>
    var streaming = false
    var currentId = 0
    video = document.getElementById("liveVideo")
        async function startStream(){  
            video = document.getElementById("liveVideo")
            var interval
            interval = setInterval(async () => {await checkIfSame();}, 1000);
        }
        
        function switchToStatic(){
            iframe = document.getElementById("streamVideo")
            iframe.style.display="none"
            video = document.getElementById("liveVideo")
            video.style.display="block"
            
            video.load();
            video.play();
        }

        async function checkIfSame() {

            try {
                // Make a POST request to '/currentVideo'
                const response = await fetch('/currentVideo', {
                    method: "POST"
                });
                response2 = await response.json()
                console.log(response2) 
                
                if (response2.message != currentId) {
                    currentId = response2.message
                    if (response2.message == -1){
                        startLiveStream()
                    } else {
                        const source = document.getElementById('ffff');
                        source.setAttribute('src', '/getVideo/' + response2.message);
                        switchToStatic()
                    }
                }
        
            } catch (error) {
                // Handle any errors that occurred during the fetch
                console.error('Error during fetch:', error);
            }
        }

        function startLiveStream(){
          iframe = document.getElementById("streamVideo")
          iframe.style.display="block"
          video = document.getElementById("liveVideo")
          video.style.display="none"
          video.pause()
          streaming = false
        }

        function reloadVideo(){
            video = document.getElementById("liveVideo")
            video.load();
            video.play();
        }
    
        /*window.onload = (event)=>{
            startStream()
        }*/

    </script>
    <script src="loginCMS.js">
    </script>
    <script src="viewer.js">

    </script>
    <%- include('footer.ejs') %>
    </body>
</html>
