<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/login_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="/Login.png" alt="Test Image">
        </div>
        <div id="login">
            <form action="/logIn" method="post" id="loginform">
                <h1 id="loginCaption">Welcome to AgbuyaTV!</h1>
                <p>Username/Email</p>
                <div class="input-wrapper">
                    <i class="fa fa-envelope icon"></i>
                    <input type="text" id="username" name="username" placeholder="Email">
                </div>
                <p>Password</p>
                <div class="input-wrapper">
                    <i class="fa fa-key icon"></i>
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <button type = "submit" id="signin">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>