<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/uploadStyle.css" />
    <title>Document</title>
</head>
<body>
    <form action="/backToStart" method="post">
        <button type="submit">Back</button>
    </form>
    <form class="uploadForm" id="uploadForm">
        <p>Title: </p>
        <input type="text" id="videoTitle" name="videoTitle">
        <input type="file" id="uploadedVideo" name="uploadedVideo" accept="video/*">
        <button type="submit" id="uploadVideo">Upload</button>
        <button type="button" class="backButton" onclick="goBack()">
          Back
        </button>
      </form>
    </div>
    <script>
          const form = document.getElementById("uploadForm");

          const uploadFile = async () => {
            const title = document.getElementById("videoTitle");
            const video = document.getElementById("uploadedVideo");
            const fileName = document.getElementById("fileName");

            const formData = new FormData();
            formData.append("video", video.files[0]);
            formData.append("title", title.value);

            const response = await fetch("http://localhost:8001/upload", {
              method: "POST",
              body: formData,
            });

            const json = await response.json()

            if(json.Message=="Logged"){
                console.log("Logged")
                var p = document.createAttribute("p")
                p.innerHTML = "Video Successfully Uploaded"
                document.body.append(p)
            }
        }
        form.addEventListener("submit",(e)=>{
            e.preventDefault()
            uploadFile()
        })
    </script>
  </body>
</html>
