<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/uploadStyle.css" />
    <title>Upload Video</title>
  </head>
  <body>
    <div class="container">
      <form class="uploadForm" id="uploadForm">
        <div class="formGroup">
          <label for="videoTitle">Title:</label>
          <input type="text" id="videoTitle" name="videoTitle" />
        </div>
        <div class="formGroup fileUpload">
          <input
            type="file"
            id="uploadedVideo"
            name="uploadedVideo"
            accept="video/*"
            onchange="updateFileName()"
          />
          <label for="uploadedVideo">Choose a file</label>
          <span id="fileName" class="fileName"></span>
        </div>
        <button type="submit" id="uploadVideo">Upload</button>
        <button type="button" class="backButton" onclick="goBack()">
          Back
        </button>
      </form>
    </div>
    <script>
          const form = document.getElementById("uploadForm");

          const uploadFile = async () => {
            const title = document.getElementById("videoTitle");
            const video = document.getElementById("uploadedVideo");
            const fileName = document.getElementById("fileName");

            const formData = new FormData();
            formData.append("video", video.files[0]);
            formData.append("title", title.value);

            const response = await fetch("http://localhost:8001/upload", {
              method: "POST",
              body: formData,
            });

            const json = await response.json();

            if (json.Message == "Logged") {
              title.value = ""; // Clear the title field
              video.value = ""; // Clear the file input
              fileName.textContent = "Video Successfully Uploaded"; // Update the file name display
            }
          };

          form.addEventListener("submit", (e) => {
            e.preventDefault();
            uploadFile();
          });

          function updateFileName() {
            var input = document.getElementById("uploadedVideo");
            var fileName = document.getElementById("fileName");
            if (input.files.length > 0) {
              fileName.textContent = `Selected file: ${input.files[0].name}`;
            } else {
              fileName.textContent = "";
            }
          }
            function goBack() {
        window.history.back() = '/backToStart';

      }
    </script>
  </body>
</html>
