<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video File</title>
</head>
<body>
    <div id="videolist">
        <div class="videoItem">
            <p>Title</p>
            <p>Author</p>
            
        </div>
    </div>    
</body>
</html>